[submodule "nft-marketplace-server"]
	path = nft-marketplace-server
	url = https://github.com/mlabs-haskell/nft-marketplace-server
[submodule "ogmios-datum-cache"]
	path = ogmios-datum-cache
	url = https://github.com/mlabs-haskell/ogmios-datum-cache
[submodule "cardano-transaction-lib"]
	path = cardano-transaction-lib
	url = https://github.com/Plutonomicon/cardano-transaction-lib
[submodule "nft-marketplace"]
	path = nft-marketplace
	url = https://github.com/mlabs-haskell/nft-marketplace
[submodule "plutus-use-cases"]
	path = plutus-use-cases
	url = https://github.com/mlabs-haskell/plutus-use-cases
[submodule "seabug-contracts"]
	path = seabug-contracts
	url = git@github.com:mlabs-haskell/seabug-contracts.git
[submodule "seabug-onchain"]
	path = seabug-onchain
	url = https://github.com/mlabs-haskell/seabug-onchain
